<template name="home">
  <div class="page" >

    <div id="playboard" class = "row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		  	<br>
		  	<br>
		  	<div class="center-block">
		  		<img src="img/logo.png"/>
		  	</div>

		  	<h1>Welcome to Ling's "Rock Paper Scissors"</h1>

		    <div id="start" class="row center-block">
		    	<div class="col-md-4">
		      	<a href="/player1"><button type="button" class="btn btn-w-m btn-primary">Join the game as Player1</button></a>
		      </div>
		      <div class="col-md-4">
		      	<a href="/player2"><button type="button" class="btn btn-w-m btn-primary">Join the game as Player2</button></a>
		    	</div>
		    </div>
		  </div>
		</div>


	</div>
</template>